cmake_minimum_required(VERSION 3.15)

{% if project.name -%}
set(CMAKE_INCLUDE_CURRENT_DIR ON)

set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/lib)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/lib)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY ${CMAKE_BINARY_DIR}/bin)

set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY_DEBUG ${CMAKE_BINARY_DIR}/lib)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY_DEBUG ${CMAKE_BINARY_DIR}/lib)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY_DEBUG ${CMAKE_BINARY_DIR}/bin)

set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY_RELEASE ${CMAKE_BINARY_DIR}/lib)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY_RELEASE ${CMAKE_BINARY_DIR}/lib)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY_RELEASE ${CMAKE_BINARY_DIR}/bin)

include(GenerateExportHeader)

project({{project.name}})

{% if project.uses_conan -%}
include(${CMAKE_BINARY_DIR}/conanbuildinfo.cmake)
conan_basic_setup(TARGETS)
conan_include_build_modules()
{%- endif %}

message(STATUS "cpppm: generators: {{ project.generators }}")
{%- for generator in project.generators %}
message(STATUS "cpppm: setting up {{ generator.name }} ({{ generator.event_type }})")
add_custom_command(OUTPUT {{ generator.target | to_dependencies }}
    COMMAND {{ python }} {{ generator.script_path.as_posix() }}
    DEPENDS {{ generator.script_path.as_posix() }} {{ project.script_path.as_posix() }}
    COMMENT "firing {{ generator.name }} ({{ generator.event_type }})"
)
{% for output in generator.target %}
add_custom_target({{ output.name }}-generator DEPENDS {{ output }})
{% endfor %}
{% endfor %}

{% endif %}

{%- for target in project.targets %}
{% include "CMakeLists.target.j2" %}
{% endfor -%}
