cmake_minimum_required(VERSION 3.15)

{% if project.name -%}
set(CMAKE_INCLUDE_CURRENT_DIR ON)

{% if project.is_root -%}
set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY ${CMAKE_CURRENT_BINARY_DIR}/lib)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY ${CMAKE_CURRENT_BINARY_DIR}/lib)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY ${CMAKE_CURRENT_BINARY_DIR}/bin)

set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY_DEBUG ${CMAKE_CURRENT_BINARY_DIR}/lib)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY_DEBUG ${CMAKE_CURRENT_BINARY_DIR}/lib)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY_DEBUG ${CMAKE_CURRENT_BINARY_DIR}/bin)

set(CMAKE_ARCHIVE_OUTPUT_DIRECTORY_RELEASE ${CMAKE_CURRENT_BINARY_DIR}/lib)
set(CMAKE_LIBRARY_OUTPUT_DIRECTORY_RELEASE ${CMAKE_CURRENT_BINARY_DIR}/lib)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY_RELEASE ${CMAKE_CURRENT_BINARY_DIR}/bin)

include(GenerateExportHeader)
{% endif %}

project({{project.name}})

{% if project.uses_conan and project.is_root -%}
# conan setup
if(NOT EXISTS ${CMAKE_BINARY_DIR}/conanbuildinfo.cmake)
    message(STATUS "cpppm: installing requirements to ${CMAKE_BINARY_DIR}")
    execute_process(COMMAND {{ python }} {{ root_project.script_path | absolute_path }} -o ${CMAKE_BINARY_DIR} install-requirements)
endif()

include(${CMAKE_BINARY_DIR}/conanbuildinfo.cmake)

conan_basic_setup(TARGETS)
conan_include_build_modules()
{%- endif %}

{%- if project.generators | length %}
message(VERBOSE "cpppm: generators: {{ project.generators }}")
{%- endif %}
{%- for generator in project.generators %}
message(VERBOSE "cpppm: setting up {{ generator.name }} ({{ generator.event_type }})")
add_custom_command(OUTPUT {{ generator.target | to_dependencies(project) }}
    COMMAND {{ python }} {{ root_project.script_path | absolute_path }} -o ${CMAKE_BINARY_DIR} __cpppm_event__ {{ generator.sha1 }}
    DEPENDS {{ generator.project.script_path | absolute_path }} {{ generator.depends | to_dependencies(project) }}
    COMMENT "-- cpppm: firing {{ generator.name }} ({{ generator.event_type }})"
)
{% for output in generator.target %}
add_custom_target({{ output.name }}-generator DEPENDS {{ output.as_posix() }})
{% endfor %}
{% endfor %}

# subprojects
{% for subproject in project.subprojects %}
add_subdirectory({{subproject.build_relative }})
{% endfor %}

{% endif %}

{%- for target in project.targets %}
{% include "CMakeLists.target.j2" %}
{% endfor -%}


{% if project.is_root -%}
add_custom_command(OUTPUT cpppm-timestamp
    COMMENT "cpppm project changed, regenerating..."
    COMMAND {{ python }} {{ root_project.script_path | absolute_path }} -p {{ root_project._profile }} -o ${CMAKE_BINARY_DIR} generate
    COMMAND ${CMAKE_COMMAND} -E touch cpppm-timestamp
    DEPENDS{% for subproject in project.subprojects %}
        {{ subproject.script_path | absolute_path }}
        {%- endfor %}
        {{ project.script_path | absolute_path }}
    WORKING_DIRECTORY "${CMAKE_BINARY_DIR}"
    )

add_custom_target(cpppm-update
    DEPENDS cpppm-timestamp)
{%- endif %}

