{% if ( target.subdirs | length ) and not ( target.subdirs in cache.subdirs ) %}
{%- for subdir in target.subdirs %}
add_subdirectory({{ subdir | absolute_path }} {{ project.build_path | absolute_path }}/{{ target.name }}/{{ subdir.name }} )
{%- endfor %}
{% do cache.subdirs.append(target.subdirs) %}
# {{ cache }}
{% endif -%}
{{target.command}}({{target.name}} {{target.type}}
{%- for source in target.sources %}
    {{ source | absolute_path }}
{%- endfor %}
)
{% if target.include_dirs | length %}
target_include_directories({{target.name}} PUBLIC
{%- for include_dir in target.include_dirs %}
    {{ include_dir | absolute_path }}
{%- endfor %}
    {{ target.build_path | absolute_path }} # build dir
)
{% endif -%}
{%- if target.compile_options | length %}
target_compile_options({{target.name}} PUBLIC
{%- for compile_option in target.compile_options %}
    {{ compile_option }}
{%- endfor %}
)
{% endif -%}
{%- if target.compile_definitions | length %}
target_compile_definitions({{target.name}} PUBLIC
{%- for compile_definitions in target.compile_definitions %}
    {{ compile_definitions }}
{%- endfor %}
)
{% endif -%}
{%- if target.link_libraries | length %}
target_link_libraries({{target.name}} PUBLIC
{%- for link_library in target.link_libraries %}
    {{ link_library | to_library }}
{%- endfor %}
)
{% endif -%}
{%- if target.export_header %}
generate_export_header({{ target.name }} EXPORT_FILE_NAME {{ target.export_header }})
{% endif -%}
{%- if target.events  %}
{%- for event in target.events %}
message(STATUS "cpppm: setting up {{ event.name }} ({{ event.event_type }})")
# {{ event.event_type }}
{%- if event.event_type == 0 %}
execute_process(COMMAND {{ python }} {{ event.event_path | absolute_path }}
    WORKING_DIRECTORY "${CMAKE_BINARY_DIR}"
)
{% elif event.event_type != 3 %}
add_custom_command(TARGET {{ target.name }} {{ event.type_str }}
    COMMAND {{ python }} {{ event.event_path | absolute_path }}
    COMMENT "-- cpppm: firing {{target.name}} ({{ event.event_type }})"
)
{% endif %}
{% endfor %}
{% endif -%}
# add_dependencies({{ target.name }} cpppm-update)
{%- if target.dependencies | length %}
target_sources({{ target.name }} PUBLIC {{ target.dependencies | to_dependencies }})
{% endif -%}