[requires]
{% for req in requires -%}
{{ req }}
{% endfor %}

{% if build_requires | length -%}
[build_requires]
{% for req in build_requires -%}
{{ req }}
{% endfor %}
{%- endif %}

[options]
{% for opt in options -%}
{{ opt }}
{% endfor %}

[generators]
cmake

