import sys
import importlib.util

{% block body -%}
sys.argv.append('__cpppm_event__')
spec = importlib.util.spec_from_file_location('{{event.source_path.with_suffix('').name }}', '{{ event.source_path.absolute().as_posix() }}')
builder = importlib.util.module_from_spec(spec)
spec.loader.exec_module(builder)
builder.{{ event.function_name }}()
{%- endblock %}
