import os
import sys
import importlib.util

{% block body -%}
sys.argv.extend(['-o', '{{ root.build_path.absolute().as_posix() }}', '__cpppm_event__'])
spec = importlib.util.spec_from_file_location('{{ root.source_path.with_suffix('').name }}', '{{ root.script_path.absolute().as_posix() }}')
root = importlib.util.module_from_spec(spec)
spec.loader.exec_module(root)
os.makedirs("{{ cwd.absolute().as_posix() }}", exist_ok=True)
os.chdir("{{ cwd.absolute().as_posix() }}")
root.project.get_project('{{ event.project.name }}').{{ event.function_name }}()
{%- endblock %}
