name: build-examples

on:
  push:
    paths:
    - '**.py'
    - '**.cpp'
    - '**.yml'

  pull_request:

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      matrix:
        config:
          - {
            name: "Ubuntu 20.04 (gcc)",
            os: ubuntu-20.04,
            toolchain: gcc-9.3-x86_64,
            libcxx: libstdc++11
          }
          - {
            name: "Ubuntu 20.04 (clang)",
            os: ubuntu-20.04,
            toolchain: clang-10-x86_64,
            libcxx: libc++
          }

    steps:
      - uses: actions/checkout@v2

      - name: Install requirements
        shell: bash
        run: |
          sudo apt-get install python3-pip

      - name: Install cpppm
        shell: bash
        run: |
          sudo python3 -m pip install .
          sudo python3 -m pip install --upgrade conan

      - name: Build examples
        shell: bash
        run: |
          ./examples/project.py config set toolchain=${{ matrix.config.toolchain }} libcxx=${{ matrix.config.libcxx }}
          ./examples/project.py -d test

      - name: Conan package
        shell: bash
        env:
          _CONAN_USERNAME: ${{ secrets.CONAN_USERNAME }}
          _CONAN_API_KEY: ${{ secrets.CONAN_API_KEY }}
        run: |
          cd ./examples
          conan remote add cpppm https://api.bintray.com/conan/${_CONAN_USERNAME}/cpppm
          conan user -p ${_CONAN_API_KEY} -r cpppm ${_CONAN_USERNAME}
          conan create .
          conan upload cpppm-examples -r cpppm --all
