name: build-examples

on:
  - push
  - pull_request

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      matrix:
        config:
          - {
            name: "Ubuntu 20.04 (gcc)",
            os: ubuntu-20.04,
            toolchain: gcc-9.3-x86_64,
            libcxx: libstdc++11
          }
          - {
            name: "Ubuntu 20.04 (clang)",
            os: ubuntu-20.04,
            toolchain: clang-10-x86_64,
            libcxx: libc++
          }

    steps:
      - uses: actions/checkout@v2

      - name: Install requirements
        shell: bash
        run: |
          sudo apt-get install python3-pip

      - name: Install cpppm
        shell: bash
        run: |
          python3 -m pip install .

      - name: Build examples
        shell: bash
        run: |
          ./examples/project.py config set toolchain=${{ matrix.config.toolchain }} libcxx=${{ matrix.config.libcxx }}
          ./examples/project.py -d test
